'fileTypes': [
  'gek'
  'geck'
]
'name': 'Geck'
'patterns': [
  {
    'match': '(?i)\\b(\
      Short|\
      Integer|\
      Int|\
      Long|\
      Float|\
      Function|\
      Begin|\
      EndIf|\
      ElseIf|\
      End|\
      Reference|\
      Ref|\
      ScriptName|Scn|\
      String_Var\
    )\\b'
    'name': 'keyword'
  }
  {
    'match': '(?i)\\b(\
      Label|\
      Goto\
    )\\b'
    'name': 'meta.separator'
  }
  {
    'match': '(?i)\\b(Player)\\b'
    'name': 'markup.bold'
  }
  {
    'match': '(?i)\\b(set)\\b(.*?)\\b(to)\\b'
    'captures':
      '1': 'name': 'keyword'
      '2': 'name': 'variable'
      '3': 'name': 'keyword'
  }
  {
    'begin': ';'
    'end': '$'
    'name': 'comment'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'string'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'string'
    'name': 'string'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape'
      }
    ]
  }
  {
    'match': '[-+]?\\d\\+([\\.]\\d+)?'
    'name': 'constant.numeric'
  }
  {
    'match': '(?i)"(array|map|stringmap)"'
    'name': 'constant.string'
  }
  {
    'match': '(?i)\\b[_]?(\
      GameMode|\
      MenuMode|\
      OnActivate|\
      OnActorEquip|\
      OnActorUnequip|\
      OnAdd|\
      OnClose|\
      OnCombatEnd|\
      OnDeath|\
      OnDestructionStageChange|\
      OnDrop|\
      OnEquip|\
      OnGrab|\
      OnHit|\
      OnHitWith|\
      OnLoad|\
      OnMagicEffectHit|\
      OnMurder|\
      OnOpen|\
      OnPackageChange|\
      OnPackageDone|\
      OnPackageStart|\
      OnRelease|\
      OnReset|\
      OnSell|\
      OnStartCombat|\
      OnTrigger|\
      OnTriggerEnter|\
      OnTriggerLeave|\
      OnUnequip|\
      SayToDone|\
      ScriptEffectFinish|\
      ScriptEffectStart|\
      ScriptEffectUpdate\
    )\\b'
    'name': 'keyword.other.unit'
  }
  {
    'match': '(?i)\\b(\
      Abs|\
      Activate|\
      AddAchievement|\
      AddFlames|\
      AddItem|\
      AddItemHealthPercent|\
      AddNote|AN|\
      AddPerk|\
      AddScriptPackage|\
      AddSPECIALPoints|\
      AddSpell|\
      AddTagSkills|\
      AddToFaction|Addfac|\
      AddTopic|\
      AdvancePCLevel|AdvLevel|\
      AdvancePCSkill|AdvSkill|\
      AgeRace|\
      ApplyImageSpaceModifier|imod|\
      AttachAshPile|\
      AutoDisplayObjectives|\
      Autosave|\
      CanHaveFlames|\
      Cast|\
      CastImmediateOnSelf|cios|\
      ClearActorsFactionsPlayerEnemyFlag|\
      ClearDestruction|\
      ClearFactionPlayerEnemyFlag|\
      ClearNoActivationSound|\
      ClearOwnership|\
      CompleteAllObjectives|\
      CompleteQuest|\
      Cos|\
      CreateDetectionEvent|\
      DamageActorValue|DamageAV|\
      DamageObject|do|\
      Disable|\
      DisableAllActors|DisAA|\
      DisableAllMines|\
      DisableLinkedPathPoints|\
      DisableNavMesh|\
      DisablePlayerControls|\
      Dispel|\
      DispelAllSpells|\
      Drop|\
      DropMe|\
      DumpMasterFileSeekData|\
      DuplicateAllItems|\
      DuplicateNPCStats|\
      Enable|\
      EnableFastTravel|EnableFast|\
      EnableLinkedPathPoints|\
      EnableNavMesh|\
      EnablePlayerControls|\
      EnterTrigger|\
      EquipItem|EquipObject|\
      EssentialDeathReload|\
      EvaluatePackage|evp|\
      EvaluateSpellConditions|esc|\
      Exists|\
      ExitGame|exit|\
      FadeSFX|FSFX|\
      FireWeapon|\
      ForceActiveQuest|\
      ForceActorValue|ForceAV|\
      ForceFlee|Flee|\
      ForceRadioStationUpdate|FRSU|\
      ForceSave|\
      ForceTakeCover|TakeCover|\
      ForceTerminalBack|\
      ForceWeather|fw|\
      FriendDispositionBoost|\
      FunctionUnused16|\
      FunctionUnused19|unused|\
      FunctionUnused20|\
      GetActionRef|getAR|\
      GetActorAggroRadiusViolated|\
      GetActorCrimePlayerEnemy|\
      GetActorFactionPlayerEnemy|\
      GetActorsInHigh|\
      GetActorValue|GetAV|\
      GetAlarmed|\
      GetAmountSoldStolen|\
      GetAngle|\
      GetAnimAction|\
      GetArmorRating|\
      GetArmorRatingUpperBody|\
      GetAttacked|\
      GetBarterGold|\
      GetBaseActorValue|GetBaseAV|\
      GetBroadcastState|\
      GetButtonPressed|\
      GetCannibal|\
      GetCauseofDeath|\
      GetClassDefaultMatch|\
      GetClothingValue|\
      GetCombatTarget|\
      GetConcussed|\
      GetContainer|\
      GetCrime|\
      GetCrimeKnown|\
      GetCurrentAIPackage|\
      GetCurrentAIProcedure|\
      GetCurrentTime|\
      GetCurrentWeatherPercent|getweatherpct|\
      GetDayOfWeek|\
      GetDead|\
      GetDeadCount|\
      GetDefaultOpen|\
      GetDestroyed|\
      GetDestructionStage|\
      GetDetected|\
      GetDetectionLevel|\
      GetDialogueEmotion|\
      GetDialogueEmotionValue|\
      GetDisabled|\
      GetDisease|\
      GetDisposition|\
      GetDistance|\
      GetEquipped|\
      GetFactionCombatReaction|\
      GetFactionRank|\
      GetFactionRankDifference|\
      GetFactionReaction|\
      GetFactionRelation|\
      GetFatiguePercentage|GetFatigue|\
      GetForceRun|\
      GetForceSneak|\
      GetFriendHit|\
      GetFurnitureMarkerID|\
      GetGameSetting|GetGS|\
      GetGlobalValue|\
      GetGold|\
      GetGroupMemberCount|\
      GetGroupTargetCount|\
      GetHasNote|GetN|\
      GetHeadingAngle|\
      GetHealthPercentage|\
      GetHitLocation|\
      GetIdleDoneOnce|\
      GetIgnoreCrime|\
      GetIgnoreFriendlyHits|gifh|\
      GetInCell|\
      GetInCellParam|\
      GetInFaction|\
      GetInSameCell|\
      GetInWorldspace|\
      GetInZone|\
      GetIsAlerted|\
      GetIsAlignment|\
      GetIsClass|\
      GetIsClassDefault|\
      GetIsCreature|\
      GetIsCreatureType|\
      GetIsCurrentPackage|\
      GetIsCurrentWeather|getweather|\
      GetIsFormType|\
      GetIsGhost|\
      GetIsID|\
      GetIsLockBroken|\
      GetIsObjectType|\
      GetIsPlayableRace|\
      GetIsRace|\
      GetIsReference|\
      GetIsSex|\
      GetIsUsedItem|\
      GetIsUsedItemEquipType|\
      GetIsUsedItemType|\
      GetIsVoiceType|\
      GetItemCount|\
      GetKillingBlowLimb|\
      GetKnockedState|\
      GetLastHitCritical|\
      GetLastPlayerAction|\
      GetLevel|\
      GetLineOfSight|GetLOS|\
      GetLinkedRef|\
      GetLocked|\
      GetLockLevel|\
      GetMajorCrimeCount|\
      GetMapMarkerVisible|\
      GetMinorCrimeCount|\
      GetNoRumors|\
      GetObjectiveCompleted|\
      GetObjectiveDisplayed|\
      GetOffersServicesNow|\
      GetOpenState|\
      GetPackageTarget|\
      GetParentRef|\
      GetPCEnemyofFaction|\
      GetPCExpelled|\
      GetPCFactionAttack|\
      GetPCFactionMurder|\
      GetPCInFaction|\
      GetPCIsClass|\
      GetPCIsRace|\
      GetPCIsSex|\
      GetPCMiscStat|GetPCMS|\
      GetPCSleepHours|\
      GetPermanentActorValue|GetPermAV|\
      GetPersuasionNumber|\
      GetPlantedExplosive|\
      GetPlayerControlsDisabled|\
      GetPlayerGrabbedRef|\
      GetPlayerHasLastRiddenHorse|\
      GetPlayerName|\
      GetPlayerTeammate|\
      GetPlayerTeammateCount|\
      GetPos|\
      GetQuestCompleted|GetQC|\
      GetQuestRunning|GetQR|\
      GetQuestVariable|\
      GetRadiationLevel|\
      GetRandomPercent|\
      GetRestrained|\
      GetSandman|\
      GetScale|\
      GetScriptVariable|\
      GetSecondsPassed|\
      GetSelf|this|\
      GetShouldAttack|\
      GetSitting|\
      GetSleeping|\
      GetSpellUsageNum|\
      GetStage|\
      GetStageDone|\
      GetStartingAngle|\
      GetStartingPos|\
      GetTalkedToPC|\
      GetTalkedToPCParam|\
      GetThreatRatio|\
      GetTimeDead|\
      GetTotalPersuasionNumber|\
      GetTrespassWarningLevel|\
      GetUnconscious|\
      GetUsedItemActivate|\
      GetUsedItemLevel|\
      GetVampire|\
      GetVATSBackAreaFree|\
      GetVATSBackTargetVisible|\
      GetVATSFrontAreaFree|\
      GetVATSFrontTargetVisible|\
      GetVATSLeftAreaFree|\
      GetVATSLeftTargetVisible|\
      GetVATSMode|\
      GetVATSRightAreaFree|\
      GetVATSRightTargetVisible|\
      GetVatsTargetHeight|\
      GetVATSValue|\
      GetWalkSpeed|GetWalk|\
      GetWeaponAnimType|\
      GetWeaponHealthPerc|\
      GetWindSpeed|\
      GetXPForNextLevel|\
      HasBeenEaten|\
      HasFlames|\
      HasFriendDisposition|\
      HasLoaded3D|\
      HasMagicEffect|\
      HasPerk|\
      IgnoreCrime|\
      IsActionRef|\
      IsActor|\
      IsActorAVictim|\
      IsActorDetected|\
      IsActorEvil|\
      IsActorsAIOff|\
      IsActorTalkingThroughActivator|\
      IsActorUsingATorch|\
      IsAnimPlaying|\
      IsCellOwner|\
      IsChild|\
      IsCloudy|\
      IsCombatTarget|\
      IsContinuingPackagePCNear|\
      IsCurrentFurnitureObj|\
      IsCurrentFurnitureRef|\
      IsEssential|\
      IsFacingUp|\
      IsGoreDisabled|\
      IsGreetingPlayer|\
      IsGuard|\
      IsHorseStolen|\
      IsIdlePlaying|\
      IsImageSpaceActive|\
      IsInCombat|\
      IsInCriticalStage|\
      IsInDangerousWater|\
      IsInInterior|\
      IsInList|\
      IsInMyOwnedCell|\
      IsKiller|\
      IsKillerObject|\
      IsLastIdlePlayed|\
      IsLeftUp|\
      IsLimbGone|\
      IsMoving|\
      IsOwner|\
      IsPC1stPerson|pc1st|\
      IsPCAMurderer|\
      IsPCSleeping|\
      IsPlayerActionActive|\
      IsPlayerGrabbedRef|\
      IsPlayerMovingIntoNewSpace|\
      IsPlayersLastRiddenHorse|\
      IsPlayerTagSkill|\
      IsPleasant|\
      IsPS3|\
      IsRaining|\
      IsRidingHorse|\
      IsRunning|\
      IsShieldOut|\
      IsSneaking|\
      IsSnowing|\
      IsSpellTarget|\
      IsSwimming|\
      IsTalking|\
      IsTalkingActivatorActor|\
      IsTimePassing|\
      IsTorchOut|\
      IsTrespassing|\
      IsTurning|\
      IsWaiting|\
      IsWaterObject|\
      IsWeaponInList|\
      IsWeaponOut|\
      IsWeaponSkillType|\
      IsWin32|\
      IsXBox|\
      KillActor|kill|\
      KillAllActors|killall|\
      KillQuestUpdates|KQU|\
      Lock|\
      Log|\
      Look|\
      LoopGroup|\
      MarkForDelete|\
      MatchFaceGeometry|\
      MatchRace|\
      MenuMode|\
      ModActorValue|ModAV|\
      ModAmountSoldStolen|\
      ModBarterGold|\
      ModDisposition|\
      ModFactionRank|\
      ModFactionReaction|\
      ModPCAttribute|ModPCA|\
      ModPCMiscStat|ModPCMS|\
      ModPCSkill|ModPCS|\
      ModScale|\
      ModWeaponHealthPerc|\
      MoveToMarker|MoveTo|\
      OpenTeammateContainer|\
      PickIdle|\
      PipBoyRadioOff|\
      PipboyRadio|prad|\
      PlaceAtMe|\
      PlaceAtMeHealthPercent|\
      PlaceLeveledActorAtMe|\
      PlayBink|\
      PlayGroup|\
      PlayIdle|\
      PlayMagicEffectVisuals|PME|\
      PlayMagicShaderVisuals|PMS|\
      PlayMusic|\
      PlaySound|\
      PlaySound3D|\
      PreloadMagicEffect|\
      PurgeCellBuffers|pcb|\
      PushActorAway|\
      ReleaseWeatherOverride|rwo|\
      RemoveAllItems|\
      RemoveFlames|\
      RemoveFromAllFactions|\
      RemoveFromFaction|Removefac|\
      RemoveImageSpaceModifier|rimod|\
      RemoveItem|\
      RemoveMe|\
      RemoveMerchantContainer|\
      RemoveNote|RN|\
      RemovePerk|\
      RemoveScriptPackage|\
      RemoveSpell|\
      Reset3DState|\
      ResetAI|\
      ResetFallDamageTimer|\
      ResetHealth|\
      ResetInterior|\
      ResetInventory|\
      ResetPipboyManager|\
      ResetQuest|\
      RestoreActorValue|RestoreAV|\
      ResurrectActor|resurrect|\
      RewardKarma|\
      RewardXP|\
      Rotate|\
      SameFaction|\
      SameFactionAsPC|\
      SameRace|\
      SameRaceAsPC|\
      SameSex|\
      SameSexAsPC|\
      Say|\
      SayTo|\
      ScriptEffectElapsedSeconds|\
      SelectPlayerSpell|spspell|\
      SendAssaultAlarm|\
      SendTrespassAlarm|\
      SetActorAlpha|SAA|\
      SetActorFullName|\
      SetActorRefraction|sar|\
      SetActorsAI|\
      SetActorValue|SetAV|\
      SetAlert|\
      SetAllReachable|\
      SetAllVisible|\
      SetAlly|\
      SetAngle|\
      SetAtStart|\
      SetAudioMultithreading|SAM|\
      SetBarterGold|\
      SetBroadcastState|\
      SetCellFullName|\
      SetCellImageSpace|\
      SetCellOwnership|\
      SetCellPublicFlag|setpublic|\
      SetClass|\
      SetCombatStyle|setcs|\
      SetCriticalStage|\
      SetDefaultOpen|\
      SetDestroyed|\
      SetDisposition|SetDisp|\
      SetEnemy|\
      SetEssential|\
      SetFactionRank|\
      SetFactionReaction|\
      SetForceRun|\
      SetForceSneak|\
      SetGhost|\
      SetGlobalTimeMultiplier|sgtm|\
      SetIgnoreFriendlyHits|sifh|\
      SetImageSpace|\
      SetInChargen|\
      SetItemValue|\
      SetLastExtDoorActivated|\
      SetLevel|\
      SetLocationSpecificLoadScreensOnly|\
      SetMerchantContainer|\
      SetMinimalUse|\
      SetNoActivationSound|\
      SetNoAvoidance|\
      SetNoRumors|\
      SetNPCRadio|snr|\
      SetObjectiveCompleted|\
      SetObjectiveDisplayed|\
      SetOpenState|\
      SetOwnership|\
      SetPackDuration|SPDur|\
      SetPCCanUsePowerArmor|\
      SetPCEnemyofFaction|\
      SetPCExpelled|\
      SetPCFactionAttack|\
      SetPCFactionMurder|\
      SetPCSleepHours|\
      SetPCToddler|\
      SetPCYoung|\
      SetPlayerTagSkill|\
      SetPlayerTeammate|\
      SetPos|\
      SetQuestDelay|\
      SetQuestObject|\
      SetRestrained|\
      SetRigidBodyMass|\
      SetRumble|\
      SetScale|\
      SetSceneIsComplex|\
      SetShowQuestItems|\
      SetSize|CSize|\
      SetSPECIALPoints|\
      SetStage|\
      SetTagSkills|\
      SetTalkingActivatorActor|\
      SetUnconscious|\
      SetVATSTarget|\
      SetWeaponHealthPerc|\
      SetWeather|sw|\
      SetZoneRespawns|\
      SexChange|\
      ShowAllMapMarkers|tmm|\
      ShowBarberMenu|\
      ShowBarterMenu|sbm|\
      ShowChargenMenuModValues|scgmod|\
      ShowChargenMenuParams|scgmp|\
      ShowChargenMenu|scgm|\
      ShowClassMenu|\
      ShowComputersInterface|sci|\
      ShowDialogSubtitles|\
      ShowHackingMiniGame|shmg|\
      ShowLockpickMenuDebug|slpmd|\
      ShowLockpickMenu|slpm|\
      ShowMap|\
      ShowMessage|\
      ShowNameMenu|\
      ShowPlasticSurgeonMenu|\
      ShowQuestStages|SQS|\
      ShowRaceMenu|\
      ShowRepairMenu|srm|\
      ShowSPECIALBookMenuParams|ssbmp|\
      ShowSPECIALBookMenu|ssbm|\
      ShowSpellMaking|\
      ShowSurgeryMenu|ssmg|\
      ShowTutorialMenu|\
      ShowViewerStrings|svs|\
      ShowWarning|\
      Sin|\
      SkipAnim|\
      Sqrt|\
      StartCannibal|\
      StartCombat|\
      StartConversation|\
      StartMasterFileSeekData|\
      StartMisterSandMan|\
      StartQuest|\
      StartRadioConversation|\
      StopCombat|\
      StopCombatAlarmOnActor|SCAOnActor|\
      StopLook|\
      StopMagicEffectVisuals|SME|\
      StopMagicShaderVisuals|SMS|\
      StopQuest|\
      StopWaiting|\
      StreamMusic|\
      Tan|\
      ToggleActorsAI|\
      ToggleMotionBlur|tmb|\
      TrapUpdate|\
      TriggerHitShader|ths|\
      TriggerHUDShudder|hudsh|\
      TriggerLODApocalypse|\
      TriggerScreenBlood|tsb|\
      UnequipItem|UnEquipObject|\
      UnLock|\
      UnusedFunction|\
      UnusedFunction1|\
      UnusedFunction10|\
      UnusedFunction11|\
      UnusedFunction12|\
      UnusedFunction13|\
      UnusedFunction14|\
      UnusedFunction15|\
      UnusedFunction17|\
      UnusedFunction18|\
      UnusedFunction21|\
      UnusedFunction22|\
      UnusedFunction26|\
      UnusedFunction27|\
      UnusedFunction28|\
      UnusedFunction29|\
      UnusedFunction9|\
      UseWeapon|\
      Wait|\
      WakeUpPC|\
      WhichServiceMenu\
    )\\b'
    'name': 'support.function'
  }
  {
    'match': '(?i)\\b(\
      AddSpellNS|\
      Ceil|\
      CompareNames|\
      Con_CloseAllMenus|\
      Con_GetINISetting|\
      Con_LoadGame|\
      Con_QuitGame|\
      Con_RefreshINI|\
      Con_Save|\
      Con_SaveINI|\
      Con_SetCameraFOV|\
      Con_SetGameSetting|\
      Con_SetINISetting|\
      Con_SetVel|\
      DebugPrint|\
      DisableControl|\
      DisableKey|\
      EnableControl|\
      EnableKey|\
      Exp|\
      Floor|\
      Fmod|\
      GetAltControl|\
      GetArmorArmorRating|\
      GetAttackDamage|\
      GetBaseHealth|\
      GetBaseObject|\
      GetControl|\
      GetCrosshairRef|\
      GetCurrentHealth|\
      GetCurrentObjective|\
      GetCurrentQuest|\
      GetDebugMode|\
      GetEquippedCurrentHealth|\
      GetEquippedObject|\
      GetEquipType|\
      GetEyes|\
      GetFirstRef|\
      GetFirstRefInCell|\
      GetFOSEBeta|\
      GetFOSERevision|\
      GetFOSEVersion|\
      GetGameLoaded|\
      GetGameRestarted|\
      GetHair|\
      GetHairLength|\
      GetHotkeyItem|\
      GetInventoryObject|\
      GetItemValue|\
      GetKeyPress|\
      GetLinkedDoor|\
      GetModIndex|\
      GetMouseButtonPress|\
      GetNextRef|\
      GetNthQuestObjective|\
      GetNumericGameSetting|\
      GetNumericINISetting|\
      GetNumItems|\
      GetNumKeysPressed|\
      GetNumLoadedMods|\
      GetNumMouseButtonsPressed|\
      GetNumRefs|\
      GetNumRefsInCell|\
      GetObjectEffect|\
      GetObjectType|\
      GetOpenKey|\
      GetOwner|\
      GetOwningFactionRequiredRank|\
      GetParentCell|\
      GetParentCellOwner|\
      GetParentCellOwningFactionRequiredRank|\
      GetParentWorldspace|\
      GetQuestObjectiveCount|\
      GetRefCount|\
      GetRepairList|\
      GetScript|\
      GetSourceModIndex|\
      GetTeleportCell|\
      GetUIFloat|\
      GetWeaponActionPoints|\
      GetWeaponAimArc|\
      GetWeaponAmmo|\
      GetWeaponAmmoUse|\
      GetWeaponAnimAttackMult|\
      GetWeaponAnimJamTime|\
      GetWeaponAnimMult|\
      GetWeaponAnimReloadTime|\
      GetWeaponAnimShotsPerSec|\
      GetWeaponAttackAnimation|\
      GetWeaponBaseVATSChance|\
      GetWeaponClipRounds|\
      GetWeaponCritChance|\
      GetWeaponCritDamage|\
      GetWeaponCritEffect|\
      GetWeaponFireDelayMax|\
      GetWeaponFireDelayMin|\
      GetWeaponFireRate|\
      GetWeaponHandGrip|\
      GetWeaponHasScope|\
      GetWeaponIsAutomatic|\
      GetWeaponLimbDamageMult|\
      GetWeaponMaxRange|\
      GetWeaponMinRange|\
      GetWeaponMinSpread|\
      GetWeaponNumProjectiles|\
      GetWeaponProjectile|\
      GetWeaponReach|\
      GetWeaponReloadAnim|\
      GetWeaponResistType|\
      GetWeaponRumbleDuration|\
      GetWeaponRumbleLeftMotor|\
      GetWeaponRumbleRightMotor|\
      GetWeaponRumbleWaveLength|\
      GetWeaponSightFOV|\
      GetWeaponSightUsage|\
      GetWeaponSkill|\
      GetWeaponSpread|\
      GetWeaponType|\
      GetWeight|\
      GoTo|\
      Goto|\
      HoldKey|\
      IsClonedForm|\
      IsControl|\
      IsControlDisabled|\
      IsControlPressed|\
      IsFormValid|\
      IsKeyDisabled|\
      IsKeyPressed|\
      IsModLoaded|\
      IsPowerArmor|\
      IsReference|\
      IsScripted|\
      Label|\
      LeftShift|\
      ListAddForm|\
      ListAddReference|\
      ListGetCount|\
      ListGetFormIndex|\
      ListGetNthForm|\
      ListRemoveForm|\
      ListRemoveNthForm|\
      ListReplaceForm|\
      ListReplaceNthForm|\
      Log10|\
      LogicalAnd|\
      LogicalNot|\
      LogicalOr|\
      LogicalXor|\
      MenuHoldKey|\
      MenuReleaseKey|\
      MenuTapKey|\
      Pow|\
      PrintActiveTile|\
      PrintToConsole|\
      ReleaseKey|\
      RemoveScript|\
      RightShift|\
      SetAltControl|\
      SetAttackDamage|\
      SetBaseItemValue|\
      SetControl|\
      SetDebugMode|\
      SetEquippedCurrentHealth|\
      SetIsControl|\
      SetIsPowerArmor|\
      SetName|\
      SetNumericGameSetting|\
      SetNumericINISetting|\
      SetObjectHealth|\
      SetOpenKey|\
      SetRepairList|\
      SetScript|\
      SetUIFloat|\
      SetUIString|\
      SetWeaponActionPoints|\
      SetWeaponAimArc|\
      SetWeaponAmmo|\
      SetWeaponAmmoUse|\
      SetWeaponAnimAttackMult|\
      SetWeaponAnimMult|\
      SetWeaponAttackAnimation|\
      SetWeaponBaseVATSChance|\
      SetWeaponClipRounds|\
      SetWeaponCritChance|\
      SetWeaponCritDamage|\
      SetWeaponCritEffect|\
      SetWeaponHandGrip|\
      SetWeaponIsAutomatic|\
      SetWeaponLimbDamageMult|\
      SetWeaponMaxRange|\
      SetWeaponMinRange|\
      SetWeaponMinSpread|\
      SetWeaponNumProjectiles|\
      SetWeaponProjectile|\
      SetWeaponReach|\
      SetWeaponReloadAnim|\
      SetWeaponSightFOV|\
      SetWeaponSightUsage|\
      SetWeaponSpread|\
      SetWeaponType|\
      SetWeight|\
      TapControl|\
      TapKey|\
      TempCloneForm\
    )\\b'
    'name': 'support.function.any-method'
  }
  {
    'match': '(?i)\\b(\
      ActorValueToString|\
      ActorValueToStringC|\
      AddItemHealthPercentOwner|\
      AddItemOwnership|\
      AddPackageAt|\
      Ar_Append|\
      Ar_BadNumericIndex|\
      Ar_BadStringIndex|\
      Ar_Construct|\
      Ar_Copy|\
      Ar_CustomSort|\
      Ar_DeepCopy|\
      Ar_Dump|\
      Ar_DumpID|\
      Ar_Erase|\
      Ar_Find|\
      Ar_First|\
      Ar_HasKey|\
      Ar_Insert|\
      Ar_InsertRange|\
      Ar_Keys|\
      Ar_Last|\
      Ar_List|\
      Ar_Map|\
      Ar_Next|\
      Ar_Null|\
      Ar_Prev|\
      Ar_Range|\
      Ar_Resize|\
      Ar_Size|\
      Ar_Sort|\
      Ar_SortAlpha|\
      AsciiToChar|\
      Break|\
      BuildRef|\
      Call|\
      CharToAscii|\
      ClearBit|\
      ClearHotkey|\
      ClearOpenKey|\
      CompareScripts|\
      Con_Inv|\
      Con_SCOF|\
      Con_SetUFOCamSpeedMult|\
      Con_ShowVars|\
      Con_SQV|\
      Con_TCL|\
      Con_TDT|\
      Con_TFC|\
      Con_ToggleMenus|\
      Continue|\
      CopyIR|\
      CreateTempRef|\
      EndVATScam|\
      EquipItem2|\
      EquipMe|\
      Eval|\
      Foreach|\
      GenericAddForm|\
      GenericDeleteForm|\
      GenericGetForm|\
      GenericReplaceForm|\
      GetActiveFactions|\
      GetActiveRanks|\
      GetActorBaseFlagsHigh|\
      GetActorBaseFlagsLow|\
      GetAgeClass|\
      GetAllModLocalData|\
      GetAltPerkRank|\
      GetAmmoCasing|\
      GetAmmoConsumedPercent|\
      GetAmmoSpeed|\
      GetArmorDT|\
      GetArrayVariable|\
      GetBaseFactions|\
      GetBaseForm|\
      GetBaseNthFaction|\
      GetBaseNthRank|\
      GetBaseNumFactions|\
      GetBasePackages|\
      GetBaseRanks|\
      GetBaseSpellListLevSpells|\
      GetBaseSpellListSpells|\
      GetBipedIconPath|\
      GetBipedModelPath|\
      GetCallingScript|\
      GetConsoleEcho|\
      GetCurrentPackage|\
      GetCurrentScript|\
      GetDebugSelection|\
      GetDefaultForms|\
      GetDialogueSpeaker|\
      GetDialogueSubject|\
      GetDialogueTarget|\
      GetEquipmentBipedMask|\
      GetEquipmentSlotsMask|\
      GetEquippedWeaponModFlags|\
      GetFactionRankFemaleNames|\
      GetFactionRankNames|\
      GetFalloutDirectory|\
      GetFirstRefForItem|\
      GetFormIDString|\
      GetGridsToLoad|\
      GetHairColor|\
      GetHeadParts|\
      GetIconPath|\
      GetInGrid|\
      GetInGridInCell|\
      GetInvRefsForItem|\
      GetKeyName|\
      GetLevCharacterRefs|\
      GetLevCreatureRefs|\
      GetListForms|\
      GetLocalRefIndex|\
      GetModelPath|\
      GetModLocalData|\
      GetName|\
      GetNextRefForItem|\
      GetNPCHeight|\
      GetNPCWeight|\
      GetNthDefaultForm|\
      GetNthExplicitRef|\
      GetNthFactionRankName|\
      GetNthModName|\
      GetNthPackage|\
      GetNumericIniSetting|\
      GetNumExplicitRefs|\
      GetNumRanks|\
      GetNVSEBeta|\
      GetNVSERevision|\
      GetNVSEVersion|\
      GetPackageCount|\
      GetPackageLocation|\
      GetPackageLocationRadius|\
      GetPackageTargetDistance|\
      GetPaired|\
      GetPerkRank|\
      GetPermanent|\
      GetPlayerCurrentAmmo|\
      GetPlayerCurrentAmmoRounds|\
      GetPluginVersion|\
      GetRace|\
      GetRaceEyes|\
      GetRaceHairs|\
      GetRaceName|\
      GetRawFormIDString|\
      GetRefs|\
      GetRefsInCell|\
      GetRefVariable|\
      GetRespawn|\
      GetScopeModelPath|\
      GetStringGameSetting|\
      GetStringIniSetting|\
      GetTexturePath|\
      GetTFC|\
      GetTokenRef|\
      GetTokenValue|\
      GetUserTime|\
      GetVariable|\
      GetWeaponFlags1|\
      GetWeaponFlags2|\
      GetWeaponItemMod|\
      GetWeaponItemModValue1|\
      GetWeaponItemModValue2|\
      GetWeaponLongBursts|\
      GetWeaponRequiredSkill|\
      GetWeaponRequiredStrength|\
      GetWeaponRumbleWavelength|\
      HasOwnership|\
      HasVariable|\
      IsDigit|\
      IsEquipped|\
      IsLetter|\
      IsOwned|\
      IsPersistent|\
      IsPlayable|\
      IsPlayerSwimming|\
      IsPluginInstalled|\
      IsPrintable|\
      IsPunctuation|\
      IsQuestItem|\
      IsRefInList|\
      IsUpperCase|\
      Let|\
      ListClear|\
      Loop|\
      MessageBoxEx|\
      MessageEx|\
      ModLocalDataExists|\
      NumToHex|\
      PickOneOf|\
      Print|\
      PrintDebug|\
      QFromAxisAngle|\
      QFromEuler|\
      QInterpolate|\
      QMultQuatQuat|\
      QMultQuatVector3|\
      QNormalize|\
      QToEuler|\
      Rand|\
      RemoveAllPackages|\
      RemoveMeIR|\
      RemoveModLocalData|\
      RemovePackageAt|\
      ResetAllVariables|\
      RunScript|\
      SetActorBaseFlagsHigh|\
      SetActorBaseFlagsLow|\
      SetArmorArmorRating|\
      SetArmorDT|\
      SetBipedIconPathEX|\
      SetBipedModelPathEx|\
      SetBipedModelPathEX|\
      SetBit|\
      SetConsoleEcho|\
      SetCurrentHealth|\
      SetEquipmentBipedMask|\
      SetEquipmentSlotsMask|\
      SetEquippedWeaponModFlags|\
      SetEyes|\
      SetFunctionValue|\
      SetHair|\
      SetHairColor|\
      SetHairLength|\
      SetHotkeyItem|\
      SetIconPath|\
      SetIconPathEX|\
      SetIsPlayable|\
      SetModelPath|\
      SetModelPathEX|\
      SetModLocalData|\
      SetNameEx|\
      SetNPCHeight|\
      SetNPCWeight|\
      SetNthDefaultForm|\
      SetNthFactionRankNameEX|\
      SetNthPackage|\
      SetNumericIniSetting|\
      SetOwningFactionRequiredRank|\
      SetPackageLocationRadius|\
      SetPackageLocationReference|\
      SetPackageTargetDistance|\
      SetPackageTargetReference|\
      SetPermanent|\
      SetPlayerCurrentAmmoRounds|\
      SetQuestItem|\
      SetRefCount|\
      SetRefVariable|\
      SetRespawn|\
      SetScopeModelPath|\
      SetStringGameSettingEX|\
      SetStringIniSetting|\
      SetTexturePath|\
      SetTokenRef|\
      SetTokenValue|\
      SetTokenValueAndRef|\
      SetUIStringEx|\
      SetVariable|\
      SetWeaponFireRate|\
      SetWeaponFlags1|\
      SetWeaponFlags2|\
      SetWeaponLongBursts|\
      SetWeaponRequiredSkill|\
      SetWeaponRequiredStrength|\
      SetWeaponResistType|\
      SetWeaponSkill|\
      Sv_Compare|\
      Sv_Construct|\
      Sv_Count|\
      Sv_Destruct|\
      Sv_Erase|\
      Sv_Find|\
      Sv_GetChar|\
      Sv_Insert|\
      Sv_Length|\
      Sv_Percentify|\
      Sv_Replace|\
      Sv_Set|\
      Sv_Split|\
      Sv_SubString|\
      Sv_ToLower|\
      Sv_ToNumeric|\
      Sv_ToUpper|\
      TestExpr|\
      ToLower|\
      ToNumber|\
      ToString|\
      ToUpper|\
      TypeOf|\
      UnequipMe|\
      Update3D|\
      V3Crossproduct|\
      V3Length|\
      V3Normalize|\
      While\
    )\\b'
    'name': 'support.class'
  }
]
'scopeName': 'source.geck'
