'fileTypes': [
  'gek'
  'geck'
  'scn'
]
'name': 'Geck'
'firstLineMatch': "(?i)^\\s*(scn|scriptname)"
'patterns': [
  {
    'match': '(?i)\\bPlayer\\b'
    'name': 'keywork.geck-keyword.player'
  }
  {
    'match': '(?i)\\b(set)\\b(.*?)\\b(to)\\b'
    'captures':
      '1': 'name': 'keyword'
      '2': 'name': 'variable'
      '3': 'name': 'keyword'
  }
  {
    'begin': ';'
    'end': '$'
    'name': 'comment'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'string'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'string'
    'name': 'string'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape'
      }
    ]
  }
  {
    'match': '[-+]?\\d\\+([\\.]\\d+)?'
    'name': 'constant.numeric'
  }
]
'scopeName': 'source.geck'
