# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {
      label: 'See GECK API',
      command: 'geck-help:lookup'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'GECK'
      'submenu': [
        { 'label': 'See GECK API', 'command': 'geck-help:lookup' }
      ]
    ]
  }
]
