# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {
      label:'See GECK API'
      command:'language-geck:lookup'
    }
  ]

menu: [
  {
    label:'Packages'
    submenu: [
      label:'GECK'
      submenu: [
        { label:'See GECK API', command:'language-geck:lookup' }
        { type:'separator' }
        { label:'Toggle FOSE Functions', command:'language-geck:toggleFOSE' }
        { label:'Toggle Vegas Functions', command:'language-geck:toggleVegas' }
        { label:'Toggle NVSE Functions', command:'language-geck:toggleNVSE' }
        { label:'Toggle NX Functions', command:'language-geck:toggleNX' }
        { label:'Toggle Lutana Functions', command:'language-geck:toggleLutana' }
        { label:'Toggle JIP Functions', command:'language-geck:toggleJIP' }
      ]
    ]
  }
]
