@import "ui-variables";

@fallout3: #D0EB55;
@newvegas: #E6832B;

atom-text-editor::shadow {
  .geck-keyword.player {
    font-weight: bold;
  }

  .geck.blocktype {
    color: darken(@text-color-info, 20%);
  }

  .geck-keyword {
    color: @text-color-info;
  }

  .geck.baseFns {
    color: darken(@fallout3, 20%);
  }

  .geck.foseFns {
    color: darken(@fallout3, 30%);
  }

  .geck.vegasFns {
    color: @newvegas;
  }

  .geck.nvseFns {
    color: darken(@newvegas, 10%);
  }

  .geck.nxFns {
    color: darken(@newvegas, 20%);
  }
}
